/*Estilos Css*/

h1{
    font-family:sans-serif;
    font-weight:bold;
    color:deepskyblue;
    text-decoration:underline;
}

h2{
    font-family:sans-serif;
    text-decoration:underline;
}

h3,p,mark{
    font-family:sans-serif;
}

a:link{
    text-decoration: none;
    font-weight:bold;
}

li a{
    color:coral;
}

body{
    background-color:azure;
    width: 1200px; 
    margin: 0 auto;
    text-align:justify;
}

a:hover{
    color:darkgray;
}

a:visited{
    color:darkslategrey;
}
a:link{
    color:orangered;
}